Makefile
Makefile.old
dbdodbc.h
ODBC.c
ODBC.def
ODBC.bs
MYMETA.yml
MYMETA.json
*.xsi
*.o
*.exe
*~
*#
.#*
*.log
*.tar.gz
blib
pm_to_blib
mje/*
dbixl4p.config
ODBC_def.old
dll.base
dll.exp
/.project
/.vscode
